/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Eliminated Default Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 16px;
    background-color: #f5f8ff;
}

header, main {
    max-width: 1140px;
    margin: 0 auto;
}

.font-inter { font-family: "Inter"; }
.font-notoserif { font-family: "Noto Serif"; }
.text-gray { color: #7a7c7f; }
.text-red { color: #E95A08; }
.primary-description {
    font-family: "Inter";
    color: #7a7c7f;
}
.primary-btn {
    font-family: "Inter";
    border: none;
    background-color: #E95A08;
    color: #fff;
    cursor: pointer;
}

/* Header Section */
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navs {
    display: flex;
    font-family: "Inter";
    gap: 48px;
}
#navs ul {
    display: flex;
    gap: 48px;
    list-style: none;
}
#navs ul > li {
    font-weight: 200;
}
#navs ul a {
    text-decoration: none;
    color: #000;
}
#nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.banner {
    margin-top: 120px;
    display: flex;
    gap: 28px;
    justify-content: space-between;
    align-items: center;
}
.banner h1 {
    font-size: 4rem;
}
.banner p {
    font-size: 1.5rem;
}


/* Plants Section */
.plants {
    margin-top: 120px;
    text-align: center;
}
.plants-description {
    max-width: 800px;
    margin: 0 auto;
}
.plants h1 {
    font-size: 3rem;
}
.plants p {
    font-size: 1.3rem;

}

.card-container {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 20px;
}
.card-container img {
    width: 100%;
}
.card {
    width: 260px; height: 484px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.card-btn {
    width: 100%;
    height: 50px;
}



@media screen and (width < 580px) {
    header nav .logo {
        zoom: 0.6;
    }
    #navs ul {
        display: none;
    }
    .banner {
        margin-top: 28px;
        flex-direction: column-reverse;
    }
    .banner h1, .plants h1 {font-size: 1.5rem;}
    .banner p, .plants p, .card {font-size: 0.8rem;}
    .banner img {
        max-width: 100vw;
    }
    .plants { margin-top: 60px; }
    .card-container {
        margin-top: 20px;
        width: 300px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 140px;
        height: 300px;
        gap: 20px;
    }
}

@media screen and (580px < width < 1180px) {
    .banner {
        margin-top: 28px;
        flex-direction: column-reverse;
    }
    .banner img {
        width: 100vw;
    }
    .card-container {
        width: 576px;
        grid-template-columns: repeat(2, 1fr);
    }
    
}